{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <h1>Créer une nouvelle tâche</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('task_list') }}">Retour à la liste des tâches</a>
{% endblock %}
