{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block header_img %}<img class="slide-image img-fluid w-100 mb-3" src="{{ asset('images/todolist_content.jpg') }}" alt="todo list content">{% endblock %}

{% block body %}
    <h1>Modification de tâche</h1>

    {{ include('task/_form.html.twig', { 'button_label': 'Enregistrer', 'form_action': 'edit' }) }}

    {{ include('task/_delete_form.html.twig') }}

    <a href="{{ path('task_list') }}" class="btn btn-info">Retour à la liste des tâches</a>
{% endblock %}
