{% block footer %}
    <footer class="bg-dark text-white mt-5 p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>À propos</h5>
                    <p>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</p>
                </div>
                <div class="col-md-4">
                    <h5>Navigation</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('homepage') }}" class="text-white">Accueil</a></li>
                        <li><a href="#" class="text-white">À propos</a></li>
                        <li><a href="#" class="text-white">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Suivez-nous</h5>
                    <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <p>&copy; {{ "now"|date("Y") }} Todo List. Tous droits réservés.</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
